<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AGauge_V2" version="2.0.2" targetFramework="net472" />
  <package id="Bunifu.Dataviz.WinForms" version="2.1.4" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="2.2.8" targetFramework="net472" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18208.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
  <package id="Zen.Barcode.Core.Code128" version="3.1.0" targetFramework="net472" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net472" />
</packages>